@page
@model CSharpGroup.Pages.JobsModel
@{
}


<br>
<br>
<div class="container">

    @if (Model._orderList != null)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Seeker Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Status</th>

                </tr>
            </thead>
            <tbody>
                @{ 
                    var acceptedOrder = Model._mycontext.Orders
                                        .Where(o => o.Status == "accepted" && !o.IsCompleted &&
                                                o.ProviderId == Model.loggedProviderId)
                                        .SingleOrDefault();
                }
                @if (acceptedOrder != null)
                {
                    foreach (var item in Model._orderList)
                    {
                        var user = Model._mycontext.Users.Where(u => u.Id == item.SeekerId).SingleOrDefault();
                        <tr>
                            <th scope="row">@user.FirstName @user.LastName</th>
                            <td>@user.Address</td>
                            <td>
                                <form asp-route-orderId="@item.Id" asp-page-handler="accept" method="post">
                                    <button class="btn btn-success">Accept</button>
                                </form>
                                <form asp-route-orderId="@item.Id" asp-page-handler="decline" method="post">
                                    <button class="btn btn-danger">Decline</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    var ordersAwaiting = Model._orderList.Count();
                    var userUndertaking = Model._mycontext.Users.Where(u => u.Id == acceptedOrder.SeekerId).SingleOrDefault();
                        <tr>
                            <th scope="row">@userUndertaking.FirstName @userUndertaking.LastName</th>
                            <td>@userUndertaking.Address</td>
                            <td>Undertaking...</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                You have @ordersAwaiting other requests waiting. Finish the task at hand to accept another one
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>You Have No Job Requests Currently!</h1>
    }





</div>
