@page "{id:int}"
@model CSharpGroup.Pages.Provider_listModel
@{
    ViewData["Title"] = "Provider list";
}

@section styles{ 
    <link rel="stylesheet" href="@Url.Content("~/css/blue.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/style2.css")">
}

<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-xl-3 col-lg-4" >
            <div class="sidebar-container" >

                <!-- Location -->
                <h2>Search options</h2>
                <form >
                    <div class="sidebar-widget" style="margin-top:30px;">
                        <h3>Location</h3>

                        <div class="input-with-icon">
                            <div id="autocomplete-container">
                                <select name="address" id="cars" asp-items="Model.addresses" style="height:40px; width:170px; padding:0px;">
                                    <option value="" > </option>
                                   
                                </select>
                            </div>
                            <i class="icon-material-outline-location-on"></i>
                        </div>


                    </div>

                    <div class="sidebar-widget">
                        <h3>Per-Hour Wage</h3>
                        <div class="margin-top-5">
                            <select name="perhour" id="cars" asp-items="Model.perhours" style="height: 30px; width: 70px; padding: 0px;">
                                <option value=""> </option>

                            </select>
                        </div>
                    </div>

                   
                    <!-- Keywords -->
                    <div class="sidebar-widget">
                        <h3>Keywords(first or last name)</h3>
                        <div class="input-group">
                            <div class="form-outline">
                                <input name="searchString" type="text" id="form1" class="form-control" placeholder="Enter keyword here..." />

                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btnsearch" asp-page="/Provider_list">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 content-left-offset">

            <h2 class="page-title">Choose the right person for you</h2>

            @*<div class="notify-box margin-top-15">
                <div class="switch-container">
                    <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn on email alerts for this search</span></label>
                </div>

                <div class="sort-by">
                    <span>Sort by:</span>
                    <select class="selectpicker hide-tick">
                        <option>Relevance</option>
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Random</option>
                    </select>
                </div>
            </div>*@

            <div class="listings-container grid-layout margin-top-35">
                @foreach (var item in Model.providersList)
                {
                    var imageLink = "." + item.Image;
                
                    <a asp-page="/Single_provider" asp-route-id="@item.Id" class="job-listing">

                        
                        <div class="job-listing-details">
                            
                            <div class="job-listing-company-logo">
                                <img src="@imageLink" alt="">
                            </div>

                            
                            <div class="job-listing-description">
                                <h4 class="job-listing-company">@item.FirstName @item.LastName  </h4>
                            </div>
                        </div>

                       
                        <div class="job-listing-footer">
                            <span class="bookmark-icon"></span>
                            <ul style="font-size:15px;">
                                <li><i class="icon-material-outline-location-on"></i> @item.Address</li>
                                <li>@for (var i = 0; i < item.AverageRating; i++)
                                {<i class="fas fa-star warning" style="color: #FDCC0D; font-size:12px;"></i> }</li>
                                <li><i class="icon-material-outline-account-balance-wallet"></i> $ @item.PerHourWage</li>
                                <li><i class="icon-material-outline-access-time"></i> @item.JobsDone Jobs Done <i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i></li>
                            </ul>
                        </div>
                    </a>

                }
                <!-- Job Listing -->
                @* Job Listing end *@
            </div>

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Pagination -->
                    <div class="pagination-container margin-top-30 margin-bottom-60">
                        <nav class="pagination">
                            <ul>
                                <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="current-page">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Pagination / End -->

        </div>
    </div>

</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>


