@page "{id:int}/{pag:int}"
@model CSharpGroup.Pages.Single_ProviderModel
@{
    ViewData["Title"] = "Single Profile Page";

}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/blue.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/style2.css")">
}


<!-- Titlebar
================================================== -->
<div class="single-page-header freelancer-header" data-background-image="images/single-freelancer.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-page-header-inxner">
                    <div class="left-side">
                        <div class="header-image freelancer-avatar"><img src=".@Model.providerUser.Image" alt=""></div>
                        <div class="header-details">
                            <h3>@Model.providerUser.FirstName @Model.providerUser.LastName</h3>
                            <ul>
                                <li><div class="star-rating" data-rating="@String.Format("{0:0.0}", Model.providerUser.AverageRating)"></div></li>
                                <li><img class="flag" src="images/flags/de.svg" alt="">@Model.providerUser.Address</li>
                                <li><div class="verified-badge-with-title">Verified</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
    <div class="row">

        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <!-- Page Content -->
            <div class="single-page-section">
                <h3 class="margin-bottom-25">About Me</h3>
                <p>@Model.providerUser.Description</p>
            </div>
            @if (Model.reviewsForThis != null)
            {
                var reviewsTruncated = Model.reviewsForThis.Skip(4 * ((int)Model.pageActive - 1)).ToList();
                <!-- Boxed List -->
                <div class="boxed-list margin-bottom-60">
                    <div class="boxed-list-headline">
                        <h3><i class="icon-material-outline-thumb-up"></i> Work History and Feedback</h3>
                    </div>
                    <ul class="boxed-list-ul">
                        @for (int i = 0; i < 4 && i < reviewsTruncated.Count(); i++)
                        {
                            var seekerName = Model._mycontext.Users.Where(u => u.Id == reviewsTruncated[i].SeekerId).FirstOrDefault();
                            <li>
                                <div class="boxed-list-item">
                                    <!-- Content -->
                                    <div class="item-content">
                                        <h4>@seekerName.FirstName @seekerName.LastName</h4>
                                        <div class="item-details margin-top-10">
                                            <div class="star-rating" data-rating="@reviewsTruncated[i].Rating"></div>
                                            <div class="detail-item"><i class="icon-material-outline-date-range"></i>From    @reviewsTruncated[i].OrderCreatedDate    ---    @reviewsTruncated[i].OrderCompletedDate</div>
                                        </div>
                                        <div class="item-description">
                                            <p>@reviewsTruncated[i].Comment</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="pagination-container margin-top-40 margin-bottom-10">
                        <nav class="pagination">
                            <ul>
                                @if (Model.reviewsForThis.Count() > 4)
                {
                    var loopCount = (Model.reviewsForThis.Count()/4) + 2;
                    for (int i = 1; i < loopCount; i++)
                    {
                        Console.WriteLine($"Passed from to .html: {Model.pageActive}");
                        if (Model.pageActive == i)
                        {
                                            <li>
                                                <form asp-route-pageActive="@i" asp-page-handler="toPage" asp-route-providerId="@Model.providerUser.Id" method="post">
                                                    <button class="btn btn-primary ripple-effect current-page">@i</button>
                                                </form> 
                                            </li>
                                            continue;
                                        }
                                        <li>
                                            <form asp-route-pageActive="@i" asp-page-handler="toPage" asp-route-providerId="@Model.providerUser.Id" method="post">
                                                <button class="btn btn-primary ripple-effect">@i</button>
                                            </form>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Pagination / End -->

                </div>
            }
            else
            {
                <h1>No Review Yet!</h1>
            }

            <!-- Boxed List / End -->

        </div>


        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            <div class="sidebar-container">

                <!-- Profile Overview -->
                <div class="profile-overview">
                    <div class="overview-item"><strong>$@Model.providerUser.PerHourWage</strong><span>Hourly Rate</span></div>
                    <div class="overview-item"><strong>@Model.providerUser.JobsDone</strong><span>Jobs Done</span></div>
                </div>

                <!-- Button -->
                @if (Model.loggedUserEmail == null)
                {
                    <a asp-page="/AuthOption" asp-route-providerId="@Model.providerUser.Id" class="apply-now-button popup-with-zoom-anim margin-bottom-50 btn btn-primary">
                        Sign In to hire
                    </a>
                }
                else
                {
                    if (Model._order == null)
                    {
                        <button type="button" class="apply-now-button popup-with-zoom-anim margin-bottom-50 btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            HIRE
                        </button>

                    }
                    else
                    {
                        if (Model._order.Status == "accepted")
                        {
                            <h4 class="text-success text-center">Task undertaking...</h4>
                        }
                        else if (Model._order.Status == "pending")
                        {
                            <h4 class="text-primary text-center">Your request is being processed...</h4>
                        }
                    }

                }

                @*<a href="#small-dialog" class="">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></a>*@


            </div>
        </div>

    </div>
</div>



<!-- Button trigger modal -->
<!-- Modal -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are You sure you want to hire @Model.providerUser.FirstName @Model.providerUser.LastName?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @if (Model.loggedUserEmail == null)
                {
                    <p>hi</p>
                }
                else
                {
                    <form asp-route-providerId="@Model.providerUser.ProviderId" asp-route-loggedUserId="@Model.loggedUser.Id" asp-route-providerUserId="@Model.providerUser.Id" asp-page-handler="hire" method="post">
                        <button class="btn btn-primary">Confirm</button>
                    </form> 
                }
                
            </div>
        </div>
    </div>
</div>




<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>

