@page 
@model CSharpGroup.Pages.userProfileModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Account Page";
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/blue.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/style2.css")">
}
<div class="dashboard-container">

    <!-- Dashboard Sidebar
    ================================================== -->
    <div class="dashboard-sidebar">
        <div class="dashboard-sidebar-inner" data-simplebar>
            <div class="dashboard-nav-container">

                <!-- Responsive Navigation Trigger -->
                <a href="#" class="dashboard-responsive-nav-trigger">
                    <span class="hamburger hamburger--collapse">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                    <span class="trigger-title">Dashboard Navigation</span>
                </a>

                <!-- Navigation -->
                <div class="dashboard-nav">
                    <div class="dashboard-nav-inner">

                        <ul data-submenu-title="Start">
                            <li><a href="#"><i class="icon-material-outline-dashboard"></i> My Account</a></li>
                            <li><a asp-page="/Orders"><i class="icon-material-outline-star-border"></i> orders</a></li>

                            @if (HttpContextAccessor.HttpContext.Session.GetString("role") == "provider")
                            {
                                <li><a asp-page="/Jobs"><i class="icon-material-outline-rate-review"></i> Jobs</a></li>
                                <li><a asp-page="/Orders"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>
                                <li><a asp-page="/Orders"><i class="icon-material-outline-rate-review"></i> Ratings</a></li>
                            }







                            <li><a asp-page="/Profile"><i class="icon-material-outline-rate-review"></i> Update</a></li>
                        </ul>


                        <ul data-submenu-title="Account">
                            <li class="active"><a href="#"><i class="icon-material-outline-settings"></i> Settings</a></li>
                            <li><a asp-page="/Logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                        </ul>

                    </div>
                </div>
                <!-- Navigation / End -->

            </div>
        </div>
    </div>
    <!-- Dashboard Sidebar / End -->
    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Account</h3>

                <!-- Breadcrumbs -->

            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
                        </div>

                        <div class="content with-padding padding-bottom-0">

                            <div class="row">

                                @foreach (var item in Model.userProviders)
                                {
                                    if (HttpContextAccessor.HttpContext.Session.GetString("email") == item.Email.ToString())
                                    {
                                       
                                        <div class="col-auto">
                                                <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                                    @if (item.Image != null)
                                                    {
                                                        <img src="./img/@Html.DisplayFor(modelItem => item.Image)" alt="">
                                                    }


                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">



                                                    <div class="col-xl-6">
                                                        <div class="submit-field">
                                                            <h5>First Name</h5>
                                                            <p>@Html.DisplayFor(modelItem => item.FirstName)</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-6">
                                                        <div class="submit-field">
                                                            <h5>Last Name</h5>
                                                            <p>@Html.DisplayFor(modelItem => item.FirstName)</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-6">
                                                        <!-- Account Type -->
                                                        <div class="submit-field">
                                                            <h5>Account Type</h5>
                                                            <div class="account-type">
                                                                <div>
                                                                    
                                                                    <button class="btn" style="background-color: #301934; width:100px;">@Html.DisplayFor(modelItem => item.Role)</button>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-6">
                                                        <div class="submit-field">
                                                            <h5>Email</h5>
                                                            <p>@Html.DisplayFor(modelItem => item.Email)</p>
                                                        </div>
                                                    </div>




                                                </div>
                                                <div class="row">

                                                    <div class="col-xl-6">
                                                        <div class="submit-field">
                                                            <h5>Phone Number</h5>
                                                            <p>@Html.DisplayFor(modelItem => item.PhoneNo)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }




                                </div>

                        </div>
                    </div>
                </div>

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-face"></i> Info</h3>
                        </div>
                        @foreach (var item1 in Model.userProviders)
                        {
                            if (HttpContextAccessor.HttpContext.Session.GetString("email") == item1.Email.ToString())
                            {
                                foreach (var item in Model.providerList)
                                {
                                    var userId = item1.Id;
                                    if (item.UserId == userId)
                                    {
                                        <div class="content">
                                            <ul class="fields-ul">
                                                <li>
                                                    <div class="row">


                                                        <div class="col-xl-4">
                                                            <div class="submit-field">
                                                                <div class="bidding-widget">
                                                                    <!-- Headline -->
                                                                    <span class="bidding-detail"><strong>Hourly rate</strong></span>

                                                                    <!-- Slider -->
                                                                    <p>$@Html.DisplayFor(modelItem => item.PerHourWage)</p>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-xl-4">
                                                            <div class="submit-field">
                                                                <h5>Attachments</h5>

                                                                <!-- Attachments -->
                                                                <div class="margin-top-0 margin-bottom-0">
                                                                    <div class="attachment-box ripple-effect">
                                                                        
                                                                        <a href="@Html.DisplayFor(modelItem => item.Recommendation)">
                                                                            <span>Recommendation Letter</span>
                                                                            <i>PDF</i>
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                                <div class="clearfix"></div>

                                                                <!-- Upload Button -->


                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            <div class="submit-field">
                                                                <h5>Category</h5>
                                                                <p> @Html.DisplayFor(modelItem => item.Category)</p>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-6">
                                                            <div class="submit-field">
                                                                <h5>Nationality</h5>
                                                                <p> @Html.DisplayFor(modelItem => item1.Address)</p>
                                                            </div>
                                                        </div>



                                                    </div>
                                                    <div class="row">


                                                        <div class="col-xl-6">
                                                            <div class="submit-field">
                                                                <h5>Description</h5>
                                                                <p> @Html.DisplayFor(modelItem => item.Description)</p>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-6">
                                                            <div class="submit-field">
                                                                <h5>Reviews</h5>
                                                                <p> @Html.DisplayFor(modelItem => item.AverageRating)</p>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            <div class="submit-field">
                                                                <h5>Jobes Done</h5>
                                                                <p> @Html.DisplayFor(modelItem => item.JobsDone)</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <div class="submit-field">
                                                                <h5>Avarage Rating</h5>
                                                                <p> @Html.DisplayFor(modelItem => item.AverageRating)</p>
                                                            </div>
                                                        </div>





                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                }
                            }
                        }
                                    </div>
                </div>

                <!-- Dashboard Box -->
                <!-- Button -->
                <div class="col-xl-12">
                    <a asp-page="/Profile" class="button ripple-effect big margin-top-30" style="margin-top:30px; background-color:#301934;">Update Profile</a>
                </div>

            </div>
            <!-- Row / End -->
            <!-- Footer -->
            <!-- Footer / End -->

        </div>
    </div>
    <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

<!-- Wrapper / End -->
<!-- Scripts
================================================== -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
<script src="js/chart.min.js"></script>
